<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WACDA</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/">Profile</a>
        </nav>
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </nav>
    <br><br><br>

      <div class="jumbotron">
        <h1 class="display-3">About</h1><img src="../static/Conrad.jpg" class="img-circle" width="225">
        <p class="lead">Conrad Reynoldson officially founded Washington Civil & Disability Advocate in 2016.  He was born in Tacoma and is a lifelong Washingtonian. Conrad attended college at Seattle Pacific University and graduated Summa Cum Laude with a double major in History and Political Science in 2009. He graduated from law school at the University of Washington School of Law in 2014. Conrad is admitted to practice in Washington State - both the Western and Eastern Districts, and is a Blackstone Legal Fellow.</p>

       <p class="lead"> Mr. Reynoldson is currently Chair of the Employer Awards Subcommittee and a member of the Coordinating Committee of the Governor's Committee on Disability Issues and Employment. Conrad is committed to providing low or no cost legal services to individuals in need of protection of their civil rights with a particular passion for helping clients be a part of significantly increasing accessibility in the state of Washington.</p>

      </div>

      <div class="row marketing">
        <div class="col-lg-4">
          <h4>Accessibility</h4>
          <p>WACDA has a particular emphasis on protecting disability rights and ensuring accessibility for all.</p>
        </div>
        <div class="col-lg-4">
          <h4>Disability Civil Rights</h4>
          <p>WACDA has a strong background in disability civil rights and stays current with legal precedents and federal and state laws.</p>
        </div>
        <div class="col-lg-4">
          <h4>Freedom of Religion and Speech</h4>
          <p>WACDA is also committed to protecting civil rights more broadly and has experience in free speech and religious liberty.</p>
        </div>

      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
