<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checklists</title>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.css">

    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <script src="../static/js/jquery-ui.js"></script>
    


    <script type="text/javascript">

        $(function() {
            $('#fileupload').fileupload({
                url: 'upload',
                dataType: 'json',
                add: function(e, data) {
                    data.submit();
                },
                success: function(response, status) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        })

    </script>

<style>
    .trash {
        color: rgb(209, 91, 71);
    }
    .panel-body .checkbox {
        display: inline-block;
        margin: 0px;
    }
    .list-group {
        margin-bottom: 0px;
    }
</style>
 
  </head>
 
  <body>
    <div class="container">

    <nav>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href=""><strong>Checklists</strong></a></li>
            <li role="presentation"><a href=""><strong>Checklist Name</strong></a></li>

        </ul>
    </nav>

<div class="row">
    <div class="col-md-12">
 
        <div class="panel-body">
 
            <ul id="ulist" class="list-group">
 
     <li class="list-group-item">
        <div class="checkbox">
            <label>
               {{checklist name}}
            </label>
        </div>
        <div class="pull-right action-buttons">
            <a href="checklist_template({{checklist name}})"><span class="glyphicon glyphicon-pencil"></span></a>
            
        </div>
    </li>
 
            </ul>
        </div>
 
    </div>
</div>

<a data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus"></span></a>


    </div>
  </body>
</html>