<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Dashboard for theApp</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
   <script src="../static/js/bootstrap.min.js"></script>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>

        <script>

    $(function() {
        $.ajax({
            url: '/getTypes',
            type: 'GET',
            success: function(res) {
                console.log(res);
                var types = JSON.parse(res);
                for (var i = types.length - 1; i >= 0; i--) {
                    $('#contactType').append("<option>"+types[i]+"</option>");
                };
            },
            error: function(error) {
                console.log(error);
            }
        });

        $('#gender').change(function(){
            if ($('#gender').val() == 'I prefer to identify as...') {
            $('#othergender').removeClass('collapse');
        } else {
          $('#othergender').addClass('collapse');
        }
    });

var selectedOption = $("#gender option:selected").text();
$("<input/>",{type:'hidden',name:'inputGender'}).val(selectedOption).appendTo("form");

var selectedOption2 = $("#contactType option:selected").text();
$("<input/>",{type:'hidden',name:'inputContactType'}).val(selectedOption2).appendTo("form");



    });

</script>



<script type="text/javascript">
   $(function() {
        $.ajax({
            url: '/getContacts',
            type: 'GET',
            success: function(res) {
                //console.log(res);
                var data = JSON.parse(res); 
                var contacts = JSON.parse(data['data'])
                //var email = JSON.parse(email['email'])
                console.log(contacts);
                $('#tbl_contacts').append("<thead><tr><td>Last Name</td><td>First Name</td><td>Address</td><td>City</td><td>Zip code</td><td>Notes</td><td>Contact Type</td><td>Cases</td></tr></thead>");
                $('#tbl_contacts').append("<tbody>");
                for (var i = contacts.length - 1; i >= 0; i--) {
                    var tbl_contact_row='<tr><td>'+contacts[i]["last_name"]+'</td><td>'+contacts[i]["first_name"]+'</td><td>'+contacts[i]["address"]+'</td><td>'+contacts[i]["city"]+'</td><td>'+contacts[i]["zipcode"]+'</td><td>'+contacts[i]["notes"]+'</td><td>'+contacts[i]["contact_type"]+'</td></tr>';
                  $('#tbl_contacts').append(tbl_contact_row);
                };
                  $('#tbl_contacts').append("</tbody>");
            },
            error: function(error) {
                console.log(error);
            }
        });

        $.ajax({
            url: '/getPlaces',
            type: 'GET',
            success: function(res) {
                //console.log(res);
                var data = JSON.parse(res); 
                var places = JSON.parse(data['data'])
                console.log(places);
                $('#tbl_places').append("<thead><tr><td>Business Name</td><td>Address</td><td>City</td><td>Zip code</td><td>Notes</td><td>Web Address</td><td>Cases</td></tr></thead>");
                $('#tbl_places').append("<tbody>");
                for (var i = places.length - 1; i >= 0; i--) {
                    var tbl_places_row='<tr><td>'+places[i]["dba"]+'</td><td>'+places[i]["address"]+'</td><td>'+places[i]["city"]+'</td><td>'+places[i]["zipcode"]+'</td><td>'+places[i]["notes"]+'</td><td>'+places[i]["web_address"]+'</td></tr>';
                  $('#tbl_places').append(tbl_places_row);
                };
                  $('#tbl_places').append("</tbody>");
            },
            error: function(error) {
                console.log(error);
            }
        });


                $.ajax({
            url: '/getChecklists',
            type: 'GET',
            success: function(res) {
                console.log(res);
                var data = JSON.parse(res); 
                for (var i = data.length - 1; i >= 0; i--) {
                  var k = Object.keys(data[i]);
                  $('#checklists').append('<li onclick="var chklst=this.children[0].innerHTML; var input=document.getElementById(&#34;chklst&#34;); input.value=chklst; console.log(chklst); var frm=document.forms[&#34;editChecklist&#34;]; frm.submit();" class="list-group-item"><label>'+k+'</label><svg class="pencil" xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16"><path style="fill: #767f8e" fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"/></svg></li>');
                };

                
            },
            error: function(error) {
                console.log(error);
            }
        });


            
    });


</script>

<style type="text/css">

.pencil {
  position: absolute;
  right: 20px;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after
{
  display: table;
  content: " ";
}

.form-horizontal .form-group:after
{
  clear: both;
}
    </style>

  </head>

  <body>



    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WACDA</a>
      <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Settings</a>
          <a class="nav-item nav-link" href="#">Profile</a>
          <a class="nav-item nav-link" href="#">Help</a>
        </nav>
        <form class="pull-xs-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1>Home</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/getClients" style="color:#000000"><img src="../static/clients.png" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Contacts</h4></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/getPlaces" style="color:#000000"><img src="../static/places.png" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Places</h4></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/clients" style="color:#000000"><img src="../static/cases.jpg" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Cases</h4></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/checklists" style="color:#000000"><img src="../static/checklist.jpg" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
              <h4>Checklists</h4></a>
            </div>
          </div>



<div class="panel-group" id="accordion"> 


          <section>
            <legend>Contacts</legend>
          <hr>   
           <div class="table-responsive">
            <table id="tbl_contacts"          
            class="table table-striped">
            </table>  
          </div>
          </section>
    
          
  
  <!-- Panel 1 -->
    <div class="panel panel-info">
  
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#col1">Add Contact</a>
        </p>
      </div>
    
      <div id="col1" class="panel-collapse collapse">
        <div class="panel-body">

       <section>
            <form class="form-horizontal" method="post" action="/addContact">
                <fieldset>
  
                    <!-- Text input-->

                     <div class="form-group">
                        <label class="col-md-4 control-label" for="txtFirstName">First Name</label>
                        <div class="col-md-4">
                            <input id="txtFirstName" name="inputFirstName" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtLastName">Last Name</label>
                        <div class="col-md-4">
                            <input id="txtLastName" name="inputLastName" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtAddress">Address</label>
                        <div class="col-md-4">
                            <input id="txtAddress" name="inputAddress" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtCity">City</label>
                        <div class="col-md-4">
                            <input id="txtCity" name="inputCity" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtZipCode">Zip Code</label>
                        <div class="col-md-4">
                            <input id="txtZipCode" name="inputZipCode" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtEmailAddress">Email Address</label>
                        <div class="col-md-4">
                            <input id="txtEmailAddress" name="inputEmailAddress" type="text" class="form-control input-md">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="gender">Gender</label>
                        <div class="col-md-4 col-sm-3" >
                        <select class ="form-control" id="gender" name="inputGender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>I prefer to identify as...</option>
                        </select>
                        <br>
                    <input class="form-control collapse" id="othergender" name ="othergender"></input>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtNotes">Notes</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtNotes" name="inputNotes"></textarea>
                        </div>
                    </div>
                    <!-- End Textarea -->

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="contactType">Contact Type</label>
                        <div class="col-md-4 col-sm-3" >
                        <select class ="form-control" id="contactType" name ="inputContactType">
                        </select>
                        </div>
                    </div>
                    <br>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="addContactButton" name="addContactButton" class="btn btn-primary" type="submit" value="Add Contact" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>

        </div>
      </div>
    
    </div> <!-- ./panel -->
  
<br>
          <section>
            <legend>Places</legend>
          <hr>  
           <div class="table-responsive">
            <table id="tbl_places"          
            class="table table-striped">
            </table>  
          </div>
          </section>
     

  <!-- Panel 2 -->
    <div class="panel panel-info">
  
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#col2">Add Place</a>
        </p>
      </div>
    
      <div id="col2" class="panel-collapse collapse">
        <div class="panel-body">

       <section>
            <form class="form-horizontal" method="post" action="/addPlaces">
                <fieldset>
  
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtBusinessName">Business Name</label>
                        <div class="col-md-4">
                            <input id="txtBusinessName" name="inputBusinessName" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtAddress">Address</label>
                        <div class="col-md-4">
                            <input id="txtAddress" name="inputAddress" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtCity">City</label>
                        <div class="col-md-4">
                            <input id="txtCity" name="inputCity" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtZipCode">Zip Code</label>
                        <div class="col-md-4">
                            <input id="txtZipCode" name="inputZipCode" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtEmail">Web address</label>
                        <div class="col-md-4">
                            <input id="txtEmail" name="inputWebAddress" type="text" class="form-control input-md">
                        </div>
                    </div>


                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtNotes">Notes</label>
                        <div class="col-md-4">
                            <textarea class="form-control" id="txtNotes" name="inputNotes"></textarea>
                        </div>
                    </div>
                    <!-- End Textarea -->



                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Add Place" />
                        </div>
                    </div>
 
                </fieldset>
            </form>
 
        </section>

        </div>
      </div>
    
    </div>  <!-- ./panel -->

<br>
   
          <section>
            <legend>Cases</legend>
          <hr>            
           <div class="table-responsive">
            <table id="tbl_cases"          
            class="table table-striped">
            </table>  
          </div>
          </section>

   
  
  <!-- Panel 3 -->
    <div class="panel panel-info">
  
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#col3">Make a Case</a>
        </p>
      </div>
    
      <div id="col3" class="panel-collapse collapse">
        <div class="panel-body">


        <section>

                  <div class="header">

            <h3 class="text-muted">Make a Demand Letter/Complaint</h3>
        </div>

            <form class="form-horizontal" method="post" action="/makeDemand">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Add Client</legend>
 
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtLastName">Last Name</label>
                        <div class="col-md-4">
                            <input id="txtLastName" name="inputLastName" type="text" class="form-control input-md">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-4 control-label" for="txtFirstName">First Name</label>
                        <div class="col-md-4">
                            <input id="txtFirstName" name="inputFirstName" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtAddress">Address</label>
                        <div class="col-md-4">
                            <input id="txtAddress" name="inputAddress" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtCity">City</label>
                        <div class="col-md-4">
                            <input id="txtCity" name="inputCity" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtZipCode">Zip Code</label>
                        <div class="col-md-4">
                            <input id="txtZipCode" name="inputZipCode" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="offset-md-2">
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male, prefers 'he, his, him'
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female prefers 'she, hers, her'
                    </label>
                    <label class="form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Prefers 'they, theirs, them'
                    </label>
                    </div>
                </div>
                                        <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Clientbutton"></label>
                        <div class="col-md-4">
                            <input id="Clientbutton" name="Clientbutton" class="btn btn-primary" type="submit" value="Add Client" />
                        </div>
                    </div>

                    <legend>Add Place of Public Accommodation</legend>
 

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtEmail">Place of Public Accommodation</label>
                        <div class="col-md-4">
                            <input id="PlofPA" name="PlofPA" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtAddress">Address</label>
                        <div class="col-md-4">
                            <input id="txtAddress" name="inputAddress" type="text" class="form-control input-md">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtCity">City</label>
                        <div class="col-md-4">
                            <input id="txtCity" name="inputCity" type="text" class="form-control input-md">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtZipCode">Zip Code</label>
                        <div class="col-md-4">
                            <input id="txtZipCode" name="inputZipCode" type="text" class="form-control input-md">
                        </div>
                    </div>
                    


                                        <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Placebutton"></label>
                        <div class="col-md-4">
                            <input id="Placebutton" name="Placebutton" class="btn btn-primary" type="submit" value="Add Place" />
                        </div>
                    </div>

                    <legend>Type(s) of ADA Violation(s)</legend>

                <div class="form-group">
                    <div class="offset-md-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Entrance
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Parking
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    Approach 
                  </label>
                </div>


                </div>
            </div>

                                        <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Draft Demand" />
                        </div>
                    </div>

                </fieldset>
            </form>
 
        </section>


        </div>
      </div>
   
   </div>  <!-- ./panel -->


<br>


          <section>
            <legend>Checklists</legend>
            <form id="editChecklist" action="/showTest" method="post">
           <ol id="checklists" class="list-group"></ol>
           <input type="hidden" id="chklst" name="chklst" />
           </form>
          </section>
          <hr>       

  <!-- Panel 4 -->
    <div class="panel panel-info">
  
      <div class="panel-heading">
        <p class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#col4">Make a Checklist</a>
        </p>
      </div>
    
      <div id="col4" class="panel-collapse collapse">
        <div class="panel-body">


       <section>
            <form class="form-horizontal" method="post" action="/addChecklist">
                <fieldset>
  
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="txtChecklistName">Checklist Name</label>
                        <div class="col-md-4">
                            <input id="txtChecklistName" name="inputChecklistName" type="text" class="form-control input-md">
                        </div>
                    </div>

                                        <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Checklistbutton"></label>
                        <div class="col-md-4">
                            <input id="Checklistbutton" name="Checklistbutton" class="btn btn-primary" type="submit" value="Make Checklist" />
                        </div>
                    </div>

                </fieldset>
            </form>
 
        </section>



        </div>
      </div>
   
   </div>  <!-- ./panel -->

  
  </div>  <!-- ./panel-group -->




        </div>
      </div>
    </div>



  </body>
</html>
